/* FONT */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap");

/* COLOR VARIABLES */
:root {
  --soft-cyan: #66e2dc;
  --soft-red: #fa7453;
  --light-orange: #ffb964;
  --light-grayish-orange: #fcfaf9;
  --very-dark-black: #191826;
}

/* DEFAULT RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
