/* FONT */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap");

/* COLOR VARIABLES */
:root {
  --soft-cyan: #66e2dc;
  --soft-red: #fa7453;
  --light-orange: #ffb964;
  --light-grayish-orange: #fcfaf9;
  --very-dark-black: #191826;
}

/* DEFAULT RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* SMOOTH SCROLLING */
html:focus-within {
  scroll-behavior: smooth;
}

/* LAYOUT (MAIN)---- MOBILE FIRST */
.main-grid {
  display: grid;
  font-family: "IBM Plex Sans", sans-serif;
  grid-template-rows: min-content auto min-content;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.landing__header {
  grid-area: "header";
  padding: 2.5rem 2.5rem 0 2.5rem;
}

.landing__main {
  grid-area: "main";
}

.landing__footer {
  grid-area: "footer";
  padding: 0 2.5rem 2.5rem 2.5rem;
}

.landing {
  background-image: url(/assets/bg-main-mobile.png);
  background-size: contain;
  background-position: right -200px top -200px;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* HEADLINE STYLE */
.headline {
  margin-top: 4rem;
  padding: 0 2.5rem;
}

.headline__title {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.45px;
  line-height: 1.2;
  max-width: 20ch;
}

.headline__desc {
  font-size: 1rem;
  font-weight: 400;
  max-width: 47ch;
  margin-top: 1.25rem;
}

/* PRODUCT STYLE */
.product {
  display: flex;
  flex-direction: column;
  margin-top: 4.25rem;
  position: relative;
}

.product::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 6.125rem;
  min-height: 37.5rem;
  inset-inline: 0;
  border-radius: 12px;
  background-image: url(/assets/bg-pattern-2.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 280px;
  background-color: var(--very-dark-black);
}

.product__illustration {
  position: relative;
  max-width: 13.0625rem;
  margin-inline: auto;
  z-index: 1;
}

.product__cta {
  background-color: var(--soft-red);
  border-radius: 12px;
  position: relative;
  padding: 3rem 2.25rem;
  margin-top: 3rem;
  z-index: 2;
}

.cta__title,
.cta__desc,
.cta__price {
  color: var(--light-grayish-orange);
}

.cta__title {
  font-size: 2rem;
  font-weight: 700;
}

.cta__desc {
  margin-top: 0.75rem;
  font-size: 1.125rem;
  font-weight: 400;
}

.cta__price {
  margin-block: 2.25rem 2rem;
  align-items: center;
  font-size: 1.25rem;
}

.cta__price--amount {
  font-size: 4.0265rem;
  font-weight: 700;
}

.button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.778;
  letter-spacing: -0.18px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.44em;
  padding: 0.8em 1.6em;
  border-radius: 12px;
  width: 100%;
  display: block;
}

.button:last-of-type {
  margin-top: 1rem;
}

.button__icon {
  display: inline-block;
  margin-bottom: -0.1rem;
  margin-right: 0.1rem;
}

.button__ios {
  background-color: var(--very-dark-black);
  color: var(--light-grayish-orange);
  transition: background-color 200ms ease-in-out;
}

.button__android {
  background-color: var(--light-grayish-orange);
  color: var(--very-dark-black);
  transition: background-color 200ms ease-in-out;
}

.button__ios:hover,
.button__ios:focus {
  background-color: var(--soft-cyan);
}

.button__android:hover,
.button__android:focus {
  background-color: var(--light-orange);
}

/* LAYOUT (FOOTER) --- MOBILE FIRST */
.landing__footer {
  display: grid;
  grid-gap: 2rem;
  margin-top: 4rem;
  grid-template-areas:
    "logo"
    "copyright"
    "social";
}

.footer__logo {
  grid-area: "logo";
}

.footer__copyright {
  grid-area: "copyright";
  max-width: 20rem;
  margin-top: -1rem;
}

.footer__social {
  grid-area: "social";
}

/* FOOTER STYLE */
.footer__social-list {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-left: -2rem;
  width: 100%;
}

.footer__social-item {
  margin-right: 1.25rem;
  padding: 0;
}

.footer__social-item:hover,
.footer__social-item:focus {
  filter: invert(59%) sepia(13%) saturate(2140%) hue-rotate(324deg)
    brightness(93%) contrast(111%);
  transition: filter 200ms ease-in-out;
}

.copyright {
  color: var(--very-dark-black);
  font-size: 1rem;
}

.copyright__email {
  font-weight: 700;
}

/* RESPONSIVE DESIGN - TABLET VIEW */
@media screen and (min-width: 45em) {
  /* MAIN VIEW */
  .landing {
    background-image: url(/assets/bg-pattern-1.svg),
      url(/assets/bg-main-tablet.png);
    background-position: right -40px top -40px, right -100px top -250px;
    background-size: 230px, auto;
    background-repeat: no-repeat;
  }

  .landing__header {
    padding-top: 3.875rem;
  }

  /* HEADLINE STYLE */
  .headline {
    margin-top: 5.9375rem;
    margin-bottom: 6.9375rem;
  }

  .headline__title {
    font-size: 4rem;
    letter-spacing: -0.73px;
    max-width: 20ch;
  }

  .headline__desc {
    font-size: 1.125rem;
    margin-top: 1.75rem;
  }

  /* PRODUCT STYLE */

  .product {
    margin: 0 2.5rem;
  }

  .product::before {
    top: 8.625rem;
    background-position: left 55% top -15%;
  }

  .product__illustration {
    max-width: 16.875rem;
    margin-inline: 3.5rem;
  }

  .product__cta {
    max-width: 24.9375rem;
    padding: 3rem;
    margin-top: -16.75rem;
    margin-inline: auto 3.625rem;
  }

  /* FOOTER STYLE */
  .landing__footer {
    margin-top: 5.4375rem;
    grid-template-areas:
      "logo"
      "copyright social";
  }

  .footer__copyright {
    grid-row: 2;
    max-width: 25rem;
    margin-top: 0.5rem;
  }

  .footer__social {
    grid-column: 2;
    grid-row: 2;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -0.5rem;
  }
}
